@model IEnumerable<Data.Product>

@{
    ViewBag.Title = "Index";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Adı</th>
            <th>Detayı</th>
            <th>Fiyatı</th>
            <th colspan="2" class="text-center">İşlem</th>
        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
        </tr>
    }
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.title</td>
            <td>@Html.Raw(product.text)</td>
            <td>@product.Price TL</td>
            <td>
                @if (Web.Helpers.UserHelper.isMember() == true)
                {
                    if (product.ProductAccess.FirstOrDefault(q => q.UserId == Web.Helpers.UserHelper.Current().Id) == null)
                    {
                        @Html.ActionLink("Hızlı Satın Al", "Index", "Credit", new { id = product.Id }, null)
                    }
                    else
                    {
                        @Html.ActionLink("İndir", "Download", "Projects", new { id = product.Id }, null)

                    }
                }
            </td>
            @{
                string statusAdd = String.Empty;
                string statusRemove = "hide";

                if (Web.Helpers.UserHelper.isMember() == true)
                {
                    if (product.Cart.FirstOrDefault(q =>
                            q.Statu == Data.CartStatus.New &&
                            q.UserId == Web.Helpers.UserHelper.Current().Id &&
                            q.ProductId == product.Id) != null
                        )
                    {
                        statusAdd = "hide";
                        statusRemove = String.Empty;
                    }
                    else if (product.ProductAccess.FirstOrDefault(q => q.UserId == Web.Helpers.UserHelper.Current().Id) != null)
                    {
                        statusAdd = "hide";
                        statusRemove = "hide";
                        <td></td>
                    }
                }

                <td id="tdAdd@(product.Id)" class="@statusAdd">
                    @Ajax.ActionLink("Sepete Ekle", "AddToCart", new { @id = product.Id },
                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "ToggleCartButtons" })
                </td>

                <td id="tdRemove@(product.Id)" class="@statusRemove">
                    @Ajax.ActionLink("Çıkar", "RemoveFromCart", new { @id = product.Id },
                  new AjaxOptions { HttpMethod = "POST", OnSuccess = "ToggleCartButtons" })
                </td>

            }
        </tr>
                }
</table>
@section js{1
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function ToggleCartButtons(result) {
            if (result == "login") {
                alert("Sepete eklemek için giriş yapınız");
            } else {
                $("#tdAdd" + result).toggleClass("hide");
                $("#tdRemove" + result).toggleClass("hide");
            }
        }
    </script>
}
