@model Data.User

@{
    ViewBag.Title = "Details";
}

<h2>Kullanıcı Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Adı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Soyadı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
           Kullanıcı Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            Şifre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
           eMail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Yetki
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
