
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="model">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h4>Yönetim</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Categories")" class="btn btn-block btn-default"><i class="fa fa-clone fa-2x"></i>
                                    <br /> Kategoriler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Products")" class="btn btn-block btn-default"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                                    <br /> Ürünler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Payments")" class="btn btn-block btn-default"><i class="fa fa-credit-card-alt fa-2x" aria-hidden="true"></i>
                                    <br /> Ödemeler</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Users")" class="btn btn-block btn-default"><i class="fa fa-users fa-2x" aria-hidden="true"></i>
                                    <br /> Kullanıcılar</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","CategoryProducts")" class="btn btn-block btn-default"><i class="fa fa-files-o fa-2x" aria-hidden="true"></i>
                                    <br /> Ürün Kategorileri</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Pages")" class="btn btn-block btn-default"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                                    <br /> Sayfalar</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Posts")" class="btn btn-block btn-default">
                                        <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
                                        <br /> Yazılar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>