
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="model">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h4>Yönetim</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Categories")" class="btn btn-block btn-default"> Kategoriler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Categories")" class="btn btn-block btn-default"> Ürünler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Categories")" class="btn btn-block btn-default"> Ödemeler</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Categories")" class="btn btn-block btn-default"> Kategoriler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Categories")" class="btn btn-block btn-default"> Ürünler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Ödemeler</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Kategoriler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Ürünler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Ödemeler</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Kategoriler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Ürünler</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-block btn-default"> Ödemeler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>